@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600');
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    padding: 0;
    margin: 0;
    background-color: #3f2e5b;
    font-family: 'Open Sans', sans-serif;
}
/* body forming blocks */
.body_wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    min-width: 450px;
    padding: 10px 0;
    margin: 10px auto;
    background-color: #fafafa;
    color: #040404;
    border-radius: 8px;
    border: 2px solid #ffffff;
}
.title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
    color: #3f2e5b;
}
.copyright {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    padding: 5px 5% 0 5%;
    color: #3f2e5b;
    opacity: .5;
}
.menu_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 5px 5%;
    background: linear-gradient(to right, #fafafa, #e0e0e0, #fafafa);
    color: #040404;
}
.menu_text {
    text-align: left;
    font-size: 14px;
    font-weight: 300;
}





.done {
    text-decoration: line-through;
}
#checkBlock {
    height: 15px;
    width: 15px;
    border-radius: 8px;
    background: red;
    padding-right: 5px;
}





/* content / js styles for ENGINE.JS */
#addButton, #clearButton { /* divs as buttons */
    display: inline-block;
    background-color: #3f2e5b;
    color:#fafafa;
    text-align:center;
    margin-left:10px;
    padding: 3px 10px;
}
#addButton {
    width: 70px;
}
#addButton:hover, #clearButton:hover {
    cursor: pointer;
    opacity: .7;
}

#items_wrap { /* wrap block for the items */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 225px;
    padding: 5px 0;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
}

#items_wrap .item { /* each div contains checkbox, item and remove button */
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* edited */
    align-items: center;
    width: 100%;
    height:50px;
    background-color: #f5f5f5;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px 5%;
}
#items_wrap div .item_inner_wrap { /* service div */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    background-color: inherit;
}
#items_wrap div:hover {
    background-color: #f1f1f1;
}
#items_wrap div .checkMark { /* checkbox inside the item div */
    width: 20px;
    height: 15px;
}
#items_wrap div span {  /* item text container */
    padding-left: 15px;
}
#items_wrap div .removeItem { /* remove button [x] */
    display: none;
    background-color: inherit;
    width: 25px;
    height: 25px;
    background-image: url("cross_icon.png");
    padding: 0;
    margin: 0;
}
#items_wrap div .removeItem:after {

}
#items_wrap div:hover .removeItem {
    display: block;
}
.editItem {
    padding: 5px 7px;
    width: 250px;
}
input {
    padding: 5px 7px;
    width: 300px;
}
input[type="checkbox"] {
    width: auto;
}
#markAll {
    width: 20px;
    height: 15px;
    float: left;
}